:root {
    --gridSize: ;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-image: url(./images/Circuit\ Board.svg);
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
}
h3 {
    font-family: "Bonheur Royale", sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin: 0px;
    display: flex;
    justify-content: center;
}
.instruction-list {
    font-size: 28px;
    margin: 5px;
    width: 500px;
}

#main-body-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}
#main-focus-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}
#instructions-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-style: double;
    border-color: #ef0f0f;
    border-width: 10px;
    border-radius: 4%;
}
#etch-a-sketch-case {
    display: flex;
    flex-direction: column;
    background-color: #ef0f0f;
    max-width: fit-content;
    border-radius: 15%;
}
#case-nameplate {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #e5be3a;
    font-family: "Bonheur Royale", sans-serif;
    font-size: 40px;
    margin: 10px;
}
#etch-a-sketch-container {
    display: grid;
    grid-template-columns: repeat(var(--gridSize), 0fr);
    justify-content: center;
    align-content: center;
    margin: 0px 58.44px 58.44px 58.44px;
}
#etch-a-sketch-buttons-section {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
}
#clear-board-button {
    background-color: white;
    border-style: solid;
    border-color: #ef0f0f;
    color: #ef0f0f;
    border-radius: 5%;
    font-size: 15px;
    padding: 5px 10px;
    position: relative;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    cursor: pointer;
    margin-right: 10px;
}
#clear-board-button:hover {
    animation-name: shakeAnim;
}
@keyframes shakeAnim {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
}
@keyframes shake {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
}
#squareWidth {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #ef0f0f50;
    outline: none;
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 10px;
    margin: 0;
    border-radius: 5%;
    border-style: solid;
    border-color: #ef0f0f;
}
#squareWidth:hover {
    opacity: 1;
    background: #ef0f0f;
}

.block {
    background-color: rgb(201, 199, 199);
    width: 10px;
    height: 10px;
}
.block.hovered {
    background-color: rgb(75, 75, 75);
}

.footer {
    position: absolute;
    bottom: 50px;
    left: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 20px;
}
.nameplate {
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.copyright {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.github-logo {
    display: inline-block;
    margin-left: 10px;
    height: 25px;
}
